<footer class="px-4 py-3 text-white bg-primary rounded-bottom">
    <div class="row">
        <div class="col-7 col-sm-9">
            Copyright &copy; {{ now|date('Y') }} by Tuppertussi
        </div>
        <div class="col-5 col-sm-3 text-right">
            <a href="{{ base_url() }}/impressum" class="text-white">Impressum</a>
            <span class="d-none d-lg-inline">|</span>
            <a href="{{ base_url() }}/datenschutz" class="text-white">Datenschutz</a>
        </div>
    </div>
</footer>
