<header>
    <a class="logo row p-4" href="{{ base_url() }}">
        <div class="col-12 col-md-8 col-lg-9 text-center text-md-left title">
            <span>Tuppertussi</span>
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-3">
            <img src="{{ base_url() }}/assets/img/head-tupper.png" alt="Logo" class="w-100">
        </div>
    </a>
</header>
